:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}


/* my code after */
main {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.box {
    display: grid;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#user-input {
    margin: 2px 2.5%;
}
.transparent {
    opacity: 0;
}
.box p {
    display: grid;
    justify-content: center;
}
#submit {
    display: grid;
    max-width: 80%;
    margin: 5px 10% 0 10%; 
}
#ball-background {
    display: grid;
    height: 600px;
    width: 600px;
    /* background-color: black; */
    background: url(/assets/palantir.gif);
    background-size: cover;
    background-position:center;
    border-radius: 500px;
    align-items: center;
    justify-content: center;
}
#eight-chara {
    display: grid;
    height: 400px;
    width: 400px;
    background-color: rgba(255,255,255, .3);
    margin: 60px 87.5px;
    border-radius: 200px; 
    align-items: center;
    justify-items: center;
}
#answer {
    height: 200px;
    width: 200px;
    display: flex;
    color:brown;
    font-size: 25px; 
    align-items: center;
    justify-content: center; 
    text-align: center;
}
.inline {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
#reset {
    display: grid;
}
.hidden {
    display: none;
}

#user-question {
    display: grid;
    font-size: 25px; 
    width: max-content;
    padding: 0 5px; 
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    
}
.shake {
    animation: shake 0.60s cubic-bezier(.5,.07,.19,.97) both;
    transform: translate(0, 0);
}

.fade-in {
    animation: fade-in ease 3s;
    opacity: 1;
}

.fade-out {
    animation: fade-out ease 5s;
    opacity: 1;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate(-1px, 0);
    }

    20%, 80% {
      transform: translate(2px, 0);
    }

    30%, 50%, 70% {
      transform: translate(-4px, 0);
    }

    40%, 60% {
      transform: translate(4px, 0);
    }
} 