:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
/* my code after */
main {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.box {
    display: grid;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#user-input {
    margin: 2px 2.5%;
}
.box p {
    display: grid;
    justify-content: center;
}
#submit {
    display: grid;
    max-width: 80%;
    margin: 5px 10% 0 10%; 
}